.input[type="text"]{
    
    padding-bottom: 2%;
    width: 50%;
    max-width: 75%;
    align-content: center;
    text-align: center;
    padding-bottom: 27%;
        padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 4%;
    margin-top: 4%;
    border: solid;
    
    
}